/* RGBA*/
.rgba{
    color: rgba(0, 255 ,0, 1);
  }

  .rgba-2{
    color: rgba(0, 255 ,0, 0.5);
  }

  .rgba-3{
    color: rgba(0, 255 ,0, 0.3);
  }

  /* HSL*/
.hsl{
  color:hsl(190,100%,50%);
}

.hsl-2{
  color:hsl(190,100%,30%);
}

.hsl-3{
  color:hsl(190,100%,20%);
}

/*Background-color*/

.background{
  color:#fff;
  background-color:black;
}