* {
    margin: 0;
    padding: 0;
    font-family: helvetica,arial, sans-serif;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    background-color: #ece9e9;
}

footer {
    height: 20%;
}

section {
    display: flex;
    align-items: center;
    gap: 8%;
}

section div img {
    height: 106px;
    margin: -28px;
}
